h2{
    color: red;
}


    ul
    {
    letter-spacing: 6px;
    color:brown;
}
ol{
    color:brown;
}
p{
    font-size: 15px;
    color: brown;
}
a{
    text-decoration: none;
    background-color: yellow;
    font-style: italic;
}
